[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
drf-yasg = "*"
mailtrap = "*"

[dev-packages]

[requires]
python_version = "3.11"
